* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
}

.btn-delete {
    color: red;
}

.azul {
    color: blue;
}

.verde {
    color: green;
}

.amarelo {
    color: #ffd900;
}

.vermelho {
    color: #FF0000;
}

.laranja {
    color: #ff5500;
}